.header img {
  float: left;
}

.header h1 {
  height: 75px;
  line-height: 75px;
  color: blue;
  left: 10px;
}
.header span {
  left: 10px;
}
}

table
{
  border: 5px solid black;
  border-collapse: collapse;
}
th
{
  border: 3px solid black;
  border-collapse: collapse;
  padding:10px;
}
td:first-child
{
  font-weight: bold
}
td
{
  border: 3px solid black;
  border-collapse: collapse;
  padding:10px;
}

